        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font-family: 'Times New Roman', serif; color: white; min-height: 100vh; overflow-x: hidden; }
        
        .bg {
            position: fixed; top: 0; left: 0; width: 100%; height: 100%;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Image/service.jpg');
            background-size: cover; background-position: center; z-index: -1;
        }

        .nav-cont {
            display: flex; justify-content: center; padding: 20px;
        }
        nav { display: flex;
             justify-content: center; 
             gap: 50px; 
             padding-top: 7px;
             background-color: #ffffff62;
             backdrop-filter: blur(10px);
             width: 900px;
             height: 50px;
             border-radius: 14px;
            }

        nav a { 
            font-size: 30px;
            padding: 0px 10px;
            color: white; text-decoration: none; opacity: 0.8; }

        nav a.active { font-weight: bold; border-bottom: 2px solid white; opacity: 1; }


        .container { max-width: 1200px; margin: 50px auto; padding: 20px; text-align: center; }
        h1 { font-family: 'Playfair Display', serif; font-size: 3.5rem; margin-bottom: 50px; }

        .services-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 30px;
        }

        .service-card {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            padding: 40px;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            transition: 0.3s;
        }

        .service-card:hover {
            transform: translateY(-10px);
            background: rgba(255, 255, 255, 0.15);
        }

        .icon { font-size: 3rem; margin-bottom: 20px; display: block; }
        h3 { font-family: 'Playfair Display', serif; margin-bottom: 15px; font-size: 1.5rem; }
        p { font-size: 0.9rem; line-height: 1.6; opacity: 0.8; }