 * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font-family: 'Times New Roman'; background: #0b0f1a; color: white; }
        

            .nav-cont {
            display: flex; justify-content: center; padding: 20px;
        }


        nav {display: flex;
             justify-content: center; 
             gap: 50px; 
             padding-top: 7px;
             background-color: #ffffff62;
             backdrop-filter: blur(10px);
             width: 900px;
             height: 50px;
             border-radius: 14px;}
        nav a {
            font-size: 30px;
            padding: 0px 10px;
             color: white; text-decoration: none; opacity: 0.7; }
        nav a.active { opacity: 1; border-bottom: 2px solid white; }

        .container { max-width: 1100px; margin: 0 auto; padding: 40px 20px; }
        h1 { font-family: 'Playfair Display', serif; font-size: 3rem; margin-bottom: 40px; }

        .tour-list { display: flex; flex-direction: column; gap: 30px; }

        .tour-item {
            display: flex;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 25px;
            overflow: hidden;
            border: 1px solid rgba(255,255,255,0.1);
            height: 300px;
        }

        .tour-img {
            flex: 1;
            background-size: cover;
            background-position: center;
        }

        .tour-content {
            flex: 1.2;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .tour-content h2 { font-family: 'Playfair Display', serif; margin-bottom: 10px; }
        .price { color: #50d890; font-weight: bold; font-size: 1.2rem; margin-bottom: 15px; display: block; }
        .tour-btn {
            margin-top: 20px;
            padding: 12px 25px;
            border-radius: 30px;
            border: 1px solid white;
            background: transparent;
            color: white;
            cursor: pointer;
            width: fit-content;
            transition: 0.3s;
        }
        .tour-btn:hover { background: white; color: black; }

        @media (max-width: 768px) {
            .tour-item { flex-direction: column; height: auto; }
            .tour-img { height: 200px; }
        }